<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="job">
<insert id="insertBuss" parameterType="job.BusinessVo">
insert into busslist values(#{num},#{bussnm},#{cer},#{rel},#{sar},sysdate)
</insert>
<update id="updateBuss" parameterType="job.BusinessVo">
update  busslist set bussnm=#{bussnm},cer=#{cer},rel=#{rel},sar=#{sar},reg_date=sysdate where num=#{num}
</update>
<delete id="deleteBuss" parameterType="int">
delete from busslist where num=#{num}
</delete>
<select id="listjob" parameterType="map" resultType="job.BusinessVo">
select*from (
select a.*, rownum r from( select *from busslist
<where>
<if test="keyWord!=''and keyFiled=='bussnm'">
 bussnm like '%'||#{keyWord}||'%' 
</if>
<if test="keyWord!=''and keyFiled=='cer'">
 cer like '%'||#{keyWord}||'%' 
</if>
<if test="keyWord!=''and keyFiled=='rel'">
 rel like '%'||#{keyWord}||'%' 
</if>
<if test="keyWord!='' and keyField=='all'">
bussnm like '%'||#{keyWord}||'%' or
 cer like '%'||#{keyWord}||'%' or
 rel like '%'||#{keyWord}||'%'
</if>
</where>
 Order by num desc)a)
 <![CDATA[where r>=#{start} and r<=#{end}]]> 
</select>
<select id="selectCount" parameterType="map" resultType="int">
select count(*) from busslist
<where>
<if test="keyWord!=''and keyFiled=='bussnm'">
 bussnm like '%'||#{keyWord}||'%' 
</if>
<if test="keyWord!=''and keyFiled=='cer'">
 cer like '%'||#{keyWord}||'%' 
</if>
<if test="keyWord!=''and keyFiled=='rel'">
 rel like '%'||#{keyWord}||'%' 
</if>
<if test="keyWord!='' and keyField=='all'">
bussnm like '%'||#{keyWord}||'%' or
 cer like '%'||#{keyWord}||'%' or
 rel like '%'||#{keyWord}||'%'
</if>
</where>
</select>
<select id="bussOne" parameterType="int" resultType="job.BusinessVo">
select*from busslist where num=#{num}
</select>
</mapper>