<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="license"> 
	      
<insert id="license1" parameterType="license.LicenseVo">
insert into license(stu_num, kinds, publisher, dates, reg_date) values
(#{stu_num},#{kinds},#{publisher},#{dates}, sysdate)
</insert>

<insert id="license2" parameterType="license.StorageVo">
insert into storage(stu_num, file_name, path, type) values
(#{stu_num},#{file_name},#{path},#{type})
</insert>

<select id="getJobList" parameterType="String" resultType="license.KindsVo">
	select * from jobcode where kinds like '%'||#{jobcode}||'%'
</select>


</mapper>    