<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stuInfo"> 
	
	<select id="selectOne" parameterType="String" resultType="profile.StudentCommand">
	select * from stu_info where stu_num=#{stu_num}
	</select>
	
	<update id="update" parameterType="profile.StudentCommand" >
	update stu_info 
	<set>
	<if test="address!=null">address=#{address},</if>
	<if test="en_name!=null">en_name=#{en_name},</if>
	<if test="phone!=null">phone=#{phone},</if>
	<if test="h_phone!=null">h_phone=#{h_phone},</if>
	<if test="mil_service!=null" >mil_service=#{mil_service},</if>
	<if test="last_rank!=null">last_rank=#{last_rank},</if>
	<if test="tour_of_duty!=null">tour_of_duty=#{tour_of_duty},</if>
	<if test="exemp!=null">exemp=#{exemp},</if>
	<if test="h_tob!=null" >h_tob=#{h_tob},</if>
	<if test="h_job!=null" >h_job=#{h_job},</if>
	<if test="h_location!=null">h_location=#{h_location},</if>
	<if test="h_income!=null">h_income=#{h_income},</if>
	p_check=#{p_check}
	</set>
	 where stu_num=#{stu_num} 
	</update> 
	
	<select id="select_c" parameterType="String" resultType="certificate.CertificateCommand">
	select * from stu_info where stu_num=#{stu_num}
	</select>
	
	<update id="update_state" parameterType="certificate.CertificateCommand">
	update stu_info set	college_state='졸업' where stu_num=#{stu_num}
	</update>
   
</mapper>    